
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet"> 
    <!-- Leaflet CSS for maps-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
   <link rel="stylesheet" href="/public/styles/eats.css">
</head>
<body>
    <title> Eats </title>
    <h1 class="title"> Eats! </h1>
    <div id="main">
           
          <% for(let i = 0; i < 5; i++){ %>
            <div class="restaurant"> 
            <!--<h1> <%= restaurant_data.restaurants[i]["restaurant"]["name"] %> </h1> 
            <p> <%= restaurant_data.restaurants[i]["restaurant"]["location"]["address"] %> </p> -->
            <div class="maps" id=<%= `mapid${i}` %> </div>
             
             </div>
          
       <% } %> 
    </div>
    <script>
    const restaurants = <%- JSON.stringify(restaurant_data.restaurants) %>
    //console.log(restaurants);
    //console.log(restaurants[0]["restaurant"]["name"]);
    </script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin="">
   
    </script>
   <script src="/public/js/eats.js">
   //  const restaurants = <%- JSON.stringify(restaurant_data.restaurants) %>
   </script>
</body>
